/* css reset */
*{
    padding: 0px;
    margin: 0px;
}
/* body */
.body-apply{
    background-color: rgb(4, 151, 225);
}
.containner-apply{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(112, 112, 112);
}
h6,h5,h4,h3{
    color: rgb(51, 51, 51);
    font-weight: bolder;
}

/* main */
.main{
    position: relative;
}
/* content-top */
.content-top{
    min-height: 500px;
    overflow: hidden;
}
.content-top, .content-bot{
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-bottom: 20px;
    position: relative;   
    border-radius: 20px;
    width: 90%;
}
.content-mid, .content-bottom {
    padding:42px;
}
.background{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 240, 230);
    position: absolute;

    background-image: url(https://source.unsplash.com/random);
    background-position: center;
    background-size: cover;
    
}
.document-user{
    position: relative;
    top: 150px;
    padding: 42px;

}
.img-profil{
    width: 167px;
    height: 167px;
    background-image: url(https://source.unsplash.com/random/400x400);
    border-radius: 20px;
    
    
}
.description-user{
    margin-top: 20px;
}
.list-addres{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}
/* content-bot */
.content-bot{
    height: auto;
    padding: 30px;
}
button{
    background-color: transparent;
    border: none;
}
/* menu jobs */
.jobs{
    display: flex;
    background-color: rgb(4, 151, 225);
    color: white;
}
.title-jobs{
    padding: 10px;;
}
.title-jobs h4{
    color: white;
}
.uwu{
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.7);
}
.buton-apply{
    background-color: #04E16A;
    padding: 15px;
    width: 15%;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
.flex-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.des-com{
    margin-top: 30px;
    display: flex;
    width: 25%;
    justify-content: space-between;
    height: 100px;
}
.item-des-com{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.item-des-com:nth-child(1){
    color: black;
    font-weight: bold;
}
.menu1{
    width: 15%;
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;
}
.menu1 button{
    font-weight: bolder;
    color:rgb(4, 151, 225);
}
.menu1 button:hover{
    border-bottom: 4px solid rgb(4, 151, 225);
    border-radius: 3px;
}

/* content-top */
/* contain-bottom */










