*{
    padding: 0;
    margin: 0;
}
.body-profil{
    background-color: rgb(4, 151, 225);
}

.containner-profil{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(112, 112, 112);
}
h6,h5,h4,h3{
    color: rgb(51, 51, 51);
    font-weight: bolder;
}
.main-profil{
    position: relative;
}
.content-top-profil{
    height: 600px;
}
.content-top-profil, .content-mid-profil, .content-bottom-profil{
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-bottom: 20px;
    position: relative;   
    border-radius: 20px;
    width: 955px;
}
.content-mid-profil, .content-bottom-profil {
    padding:42px;
}
.background-profil{
    width: 100%;
    height: 40%;
    background-color: rgb(255, 240, 230);
    position: absolute;
    border-radius: 20px 20px 0 0;
    background-image: url(https://source.unsplash.com/random);
    background-position: center;
    background-size: cover;
    
}
.document-user-profil{
    position: relative;
    top: 100px;
    padding: 42px;

}
.main-profil .content-top-profil .img-profil{
    width: 167px;
    height: 167px;
    background-image: url(https://source.unsplash.com/random/400x400);
    border-radius: 100%;
    border: 3px solid rgb(173, 0, 150);
    
    
}
.description-user-profil{
    margin-top: 20px;
}
.img-profil{
    width: 167px;
    height: 167px;
    background-image: url(https://source.unsplash.com/random/400x400);
    border-radius: 100%;
    border: 3px solid rgb(173, 0, 150);    
}
.list-addres-profil{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}
.media2 span{
    color: rgb(51, 51, 51);
}
.addres1-profil, .addres2-profil{
    display: flex;
    flex-direction: column;
}
.bt{
    margin-top: 20px;
    background-color: rgb(58, 58, 58);
    padding: 5px;
    border: none;
    width: 135px;
    border-radius: 5px;
    color: white;

}
#bt-cl{
    background-color: #E10439;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
}
#bt-in{
    background-color: #0497E1;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
}
.con-mid-ex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 39px;
}
.des-itm{
    width: 80%;
}
.item-ex{
    display: flex;
    justify-content: space-between;
}
.item-ex img{
    width: 15px;
    height: 15px;
}
.item-edu{
    display: flex;
    justify-content: space-around

}
.item-edu img{
    width: 50px;
    height: 50px;
}
.con-item-edu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 39px;
}
#cont-pop{
    width: 800px;
    
}
#modal-content{
    border-radius: 20px;
    width: 800px;
}
input{
    height: 38px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 8px;
}
.inp-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 38px;
    row-gap: 20px;
    margin-bottom: 38px;
}
.inp-2{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    row-gap: 30px;
}
.inp-3 input{
    width: 100%;
    margin-bottom: 20px;
}
.inp-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 38px;
    margin-bottom: 20px;
}
.inp-5 input{
    width: 100%;
}
#dropdownMenuButton1{
    width: 100%;
}
.item-in{
    display: flex;
    flex-direction: column;
}
label{
    color: rgb(51, 51, 51);
}
.item-expe{
    display: flex;
    justify-content: flex-end;
}
.cont-in-expe{
    width: 95%;
}
